$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../../bower_components/lightingfly/_lighting_fly.scss";
// endbower

@import 'modules/easing';
@import 'modules/gradients';
@import 'modules/social';
@import 'modules/mdc-class';

@import 'pages/pages';

// PRELOAD
body:before {
  content: url('#{$base-img-url}/black.svg') url('#{$base-img-url}/white.svg');
  display: none;
}

body {
  background: $color-master-darkest;
  overflow-x: hidden;
}

// MENU ACTIVE
$pages: 'index', 'music', 'profile', 'contact';

@each $page in $pages {
  #page-#{$page} a[data-body="#{$page}"] {
    @extend .active;
  }
}

// ======================================================
// TYPOGRAPHY
// ======================================================

h1,
h2,
h3,
h4,
h5,
h6 {
  &.big-heading {
    font-family: $font-gotham;
    text-transform: uppercase;
    font-weight: 900;
  }

  &.divider {
    position: relative;
    margin-bottom: 40px !important;
    text-align: center;

    &:after {
      content: '';
      display: block;
      bottom: 0;
      margin: 40px auto 0;
      width: 60px;
      border-top: 2px solid $color-master-dark;
    }

    &.text-white:after {
      border-color: #fff;
    }

    &.muted:after {
      opacity: .5;
    }
  }
}

.excerpt {
  font-weight: 200;
  letter-spacing: -.02em;
}

section p {
  font-size: 1.3rem;
  font-weight: 200;
  line-height: 1.6;
  margin: 1.5em 0;

  &.dropcap:first-child:first-letter {
    float: left;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
    font-family: Georgia;
  }
}

section p.excerpt {
  font-size: 2.4em;
  line-height: 1;

  &.big {
    font-size: 2.6em;
  }
}

i:not(.fa):not([class^="pg-"]):not([class^="icon-"]):not([class^="ti-"]),
em {
  font-family: $font-playfair;
  font-weight: 400;
  // font-style: italic;
}

.block-title {
  font-family: $font-montserrat;
  // font-family: $font-montserrat;
  font-weight: 500;
  font-size: .9em;
  letter-spacing: .25em;
}

.slab-border {
  border-style: solid;
  border-width: 4px 0;
}

.slab {
  font-family: 'LeagueGothic', $base-font-family;
  // font-weight: 900;
  text-transform: uppercase;
  .slabtext {
    line-height: .85 !important;
  }
}

// ======================================================
// Links
// ======================================================

@mixin linkAnim($thickness: 2px, $color: #fff) {
  line-height: 1;

  &:after {
    content: "";
    display: block;
    // position: absolute;
    bottom: 0;
    width: 0;
    height: $thickness;
    margin-top: 3px;
    background: $color;
    transition: all .3s $easeOutExpo;
  }

  &:hover,
  &.active {
    &:after {
      width: 100%;
    }
  }
}

a {
  color: $color-primary;
  text-shadow: none !important;
  transition: all .3s ease;

  .text-white & {
    color: $color-master-lighter;
  }
}

a:focus,
a:hover,
a:active {
  color: $color-primary-light;

  .text-white & {
    color: $color-master-lightest;
  }
}

section p a {
  @include linkAnim;

  position: relative;
  display: inline-block;

  &:after {
    margin: 0;
  }

  &.text-master {
    &:after {
      background: $color-master-dark;
    }
  }
}

// ======================================================
// Header
// ======================================================

.header.transparent-dark {
  .alt {
    display: inline-block;
  }
  .logo {
    display: none;
  }
}

nav.mobile-nav {
  display: none;
}

// Desktop & Tablet
@media screen and (min-width: $screen-md) {
  .header .menu-content {
    a {
      @include linkAnim;
    }
  }

  .header.minimized .menu-content {
    a:after {
      background: #000;
    }
  }
}

// Mobile Menu
@media screen and (max-width: $screen-sm-max) {
  .header .menu-content {
    display: none;
  }

  .mobile-overlay {
    position: fixed;
    z-index: 1500;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0;
    visibility: hidden;
    cursor: url(/assets/images/close.png), auto;
    transition: opacity .3s ease, visibility .3s 0s;
  }

  nav.mobile-nav {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background: $color-warning;
    text-align: center;
    transform: translateX(-100%);
    transition: transform .3s ease;

    ul, li {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    ul li a {
      display: block;
      opacity: 1 !important;
      padding: 10px 15px 8px;

      font-family: $font-gotham;
      font-weight: 900;
      font-size: 2rem;
      color: $color-black;
      letter-spacing: -.05em;

      &:hover,
      &.active {
        background: #fff;
      }
    }

    .hamburger {
      display: block;
      position: absolute;
      z-index: 1000;
      overflow: hidden;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      width: 60px;
      height: 60px;
      background: $color-warning;
      font-size: 0;
      text-indent: -9999px;
      border: none;
      cursor: pointer;
      transform: translateX(100%);

      &:focus {
        outline: none;
      }

      span {
        display: block;
        position: absolute;
        top: 28px;
        left: 10px;
        right: 10px;
        height: 4px;
        transition: background 0s 0.3s;
      }

      span,
      span:before,
      span:after {
        background: #000;
      }

      span:before,
      span:after {
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 4px;
        content: "";
        transition-duration: 0.3s, 0.3s;
        transition-delay: 0.3s, 0s;
      }

      span:before {
        top: -10px;
        transition-property: top, transform;
      }

      span:after {
        bottom: -10px;
        transition-property: bottom, transform;
      }

      body.menu-opened & {
        span {
          background: none;
        }

        span:before {
          top: 0;
          transform: rotate(45deg);
        }

        span:after {
          bottom: 0;
          transform: rotate(-45deg);
        }

        span:before,
        span:after {
          transition-delay: 0s, 0.3s;
        }
      }
    }
  }

  .header:before {
    display: none !important;
  }

  body.menu-opened {
    .mobile-overlay {
      opacity: .8;
      visibility: visible;
    }

    nav.mobile-nav {
      transform: translateX(0);
    }
  }
}

// ======================================================
// Hero
// ======================================================

.jumbotron h1,
.hero h1 {
  display: inline-block !important;
  font-family: $font-gotham;
  font-size: 4rem;
  font-weight: 200;
  letter-spacing: -.07em;
  line-height: 1;
  color: inherit;
  text-transform: uppercase;

  .lead {
    display: block;
    margin-left: .1em;
    margin-bottom: -.3em;
    font-size: .4em;
  }

  b {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 900;
    line-height: inherit;
    margin-left: .1em;
    padding: .15em .25em .05em;
    background: $color-warning;
    color: #000;
    text-align: left;
  }

  @media screen and (max-width: $screen-sm-max) {
    font-size: 3rem;
  }

  @media screen and (max-width: $screen-xs-max) {
    font-size: 2.5rem;

    b {
      display: block;
    }
  }
}

.jumbotron h3 {
  display: inline-block;
  position: relative;
  font-size: 1.1rem !important;
  font-family: $font-montserrat;
  text-transform: uppercase;
  letter-spacing: .2em;

  &:hover {
    &:after {
      opacity: 1;
      transform: translateX(30px);
    }
  }

  @media screen and (max-width: $screen-sm-max) {
    font-size: .8rem !important;
  }
}

.hero {
  height: 50vh;
  min-height: 500px;

  &.height-auto {
    height: auto;
    min-height: none;
    padding: 200px 0;
  }

  @media screen and (max-width: $screen-xs-max) {
    height: auto;
    min-height: 0;
    padding: 180px 0 160px;
  }
}

[data-pages-bg-image] {
  background-size: cover;
  background-position: center center;
  // box-shadow: inset 0 0 200px rgba(#000, .8);
}

[data-fitvids] {
  position: relative;

  .fluid-width-video-wrapper {
    z-index: 100;
  }

  .video-overlay {
    z-index: 200;
  }
}

// ======================================================
// FOOTER
// ======================================================

footer {
  [class^="col-"] {
    border-color: rgba(#fff, .1);
  }

  .links ul {
    font-family: $font-montserrat;
    font-size: .7rem;
    text-transform: uppercase;

    list-style: none;
    margin: 0 -5px 20px;
    padding: 0;

    li {
      display: inline-block;
      padding: 0;
      line-height: 1;
    }

    li + li:before {
      content: " / ";
      opacity: .4;
    }

    li a {
      display: inline-block;
      padding: 2px 5px;
    }
  }

  .copyright p {
    font-family: $font-montserrat;
    font-size: .7rem;
    text-transform: uppercase;
    line-height: 1;
    padding: 2px 0;
  }
}


// ======================================================
// UL ICONS
// ======================================================

ul[data-bullet] {
  list-style: none;
  padding: 0;
  margin-left: 2em;

  li {
    position: relative;
    // line-height: 1.5;
    margin-bottom: 1em;
  }
  li i:first-child {
    position: absolute;
    // transform: scale(1.2);
    left: -2em;
    width: 2em;
    top: 0.45em;
    text-align: center;
  }
}

ol.ol {
  li {
    line-height: 1.8;
    padding-bottom: 1em;
  }
}

// ======================================================
// IMAGE THINGS
// ======================================================

.image-square {
  position: relative;
  height: 50vh;
  min-height: 640px;
  overflow: hidden;
  padding: 0;

  .image-square-image,
  > .image-square-content {
    position: absolute;
    padding: 0;
  }

  .image-square-image {
    height: 100%;
  }

  > .image-square-content {
    padding: 0 8%;
    top: 50%;
    transform: translate3d(0, -50%, 0);
  }

  &.left .image-square-image {
    left: 0;
  }

  &.left > .image-square-content {
    right: 0;
  }

  &.right .image-square-image {
    right: 0;
  }

  &.right > .image-square-content {
    left: 0;
  }

  @media screen and (max-width: 990px) {
    height: auto;
    max-height: 100000px;
    margin: 60px 0;

    .image-square-image,
    > .image-square-content {
      position: relative;
    }

    .image-square-image {
      height: 100vw;
      max-height: 500px;
    }

    &.left .image-square-image {
      margin-bottom: 60px;
    }

    &.right .image-square-image {
      margin-top: 60px;
    }

    > .image-square-content {
      top: 0;
      transform: none;
      padding: 0 20%;
    }
  }

  @media screen and (max-width: $screen-sm-max) {
    > .image-square-content {
      padding: 0 15px;
    }
  }
}

.image-pull-left {
  height: 640px;
  position: relative;

  .inner {
    height: 100%;
    width: 1280px;
    position: absolute;
    right: 0;
  }
}

// ======================================================
// INDEX
// ======================================================

#page-index {
  .social-count {
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

    @media screen and (min-width: 768px) {
      .social-col {
        float: left;
        width: 100/5 * 1%;
      }
    }

    a {
      display: inline-block;
      position: relative;
      text-align: center;
      width: 180px;
      height: 180px;
      transition: all .3s !important;
      color: inherit;
      overflow: hidden;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background: $color-warning;
        // transform: rotate(-92deg);
        transform: translateY(100%);
        transform-origin: bottom left;
        transition: all .3s ease;
      }

      .progress-circle-indeterminate,
      .wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
      }

      .wrapper {
        opacity: 0;
      }

      i {
        display: block;
        font-size: 40px;
        margin-bottom: 10px;
        line-height: 40px;
        color: inherit;
      }

      .count {
        margin: 0;
        font-family: $font-league;
        font-size: 3em;
        font-weight: 900;
        line-height: 1;
        text-transform: uppercase;
      }

      &.loaded {
        .progress-circle-indeterminate {
          opacity: 0;
        }

        .wrapper {
          opacity: 1;
        }
      }

      &:hover {
        color: #000;

        &:before {
          // transform: rotate(0);
          transform: translateY(0);
        }
      }
    }
  }

  .instagram-feed {
    position: relative;

    .grid {
      padding: 0;

      a {
        display: block;
        position: relative;
        width: 100%;
        transition: all .3s ease;
        overflow: hidden;

        img {
          position: relative;
          width: 100%;
          // transition: all .3s ease;
          z-index: 50;
        }

        .likes {
          display: block;
          position: absolute;
          bottom: 0;
          right: 0;
          font-family: $font-league;
          font-size: 2em;
          padding: .2em .5em;
          background: $color-primary-darker;
          color: #fff;
          z-index: 100;
          transition: all .3s ease;
          transform: translateX(100%);

          i {
            color: $color-danger;
          }
        }

        &:hover {
          .caption {
            transform: translateY(0);
            opacity: 1;
          }

          .likes {
            transform: translateX(0);
          }
        }
      }
    }
  }
}

// ======================================================
// MUSIC
// ======================================================

#page-music {
  .hero {
    @include gradient-after(#000, transparent);
  }

  .filter .btn {
    display: inline-block;
    position: relative;
    font-family: $font-montserrat;
    font-size: 1.2em;
    border-radius: 0;
    border: 0;
    // border-bottom: 3px solid transparent;
    background: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -.05em;
    // font-style: italic;
    padding: 8px 15px;
    transition: all .3s ease !important;

    @include linkAnim;

    &:hover,
    &.active {
      border: 0;
    }
  }

  .music-isotope {
    opacity: 0;
    overflow: hidden;
    transition: all 1s $easeOutExpo;
    transform: translateY(100%);

    &.loaded {
      opacity: 1;
      transform: translateY(0);
    }

    .grid-sizer,
    .grid {
      // width
      width: 33.33%;

      @media screen and (max-width: $screen-md-max) {
        width: 50%;
      }

      @media screen and (max-width: 599px) {
        width: 100%;
      }
    }

    .grid {
      .grid-wrapper {
        position: relative;
        margin: 10px;
        overflow: hidden;
      }

      img {
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 5;
        transition: all .3s ease;
      }

      .info {
        padding: 20px 20px 15px;
        z-index: 10;
        transition: all .3s ease;

        .info-bg {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 0;
          opacity: 1;
          transition: all .3s ease;
        }

        .info-wrapper {
          position: relative;
          z-index: 10;
        }

        .item-title,
        .item-artist,
        .item-released {
          margin: 0;
          line-height: 1;
        }

        .label {
          display: inline-block;
          text-transform: uppercase;
          background: none;
          border: 1px solid #fff;
          color: #fff;
          margin-right: 5px;
          margin-bottom: 5px;
          transition: all .3s ease;
        }
      }

      .links {
        a.btn {
          line-height: 1;
          font-family: $font-montserrat;
          border: 0;
          background: #000;
          color: #fff;
          text-transform: uppercase;
          letter-spacing: -.05em;
          padding: 8px 12px 7px;
          opacity: 1;
          transition: all .3s;

          &:hover {
            border: 0;
            opacity: .8;
          }
        }
      }
    }
  }

  .video-lightbox {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
    transition: all .5s ease;

    &.vlb-visible {
      transform: translateX(0);
    }

    .vlb-close {
      position: absolute;
      top: 0;
      left: 0;
      padding: 20px;
      font-size: 2em;
      color: #fff;
      cursor: pointer;
    }

    .vlb-video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      z-index: 10;
      width: 100%;
      height: auto;
    }

    .vlb-progress {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      z-index: 0;
    }
  }
}

// ======================================================
// PROFILE
// ======================================================

#page-profile {
  .hero {
    @include gradient-after($color-master-darkest, transparent);
  }

  section {
    position: relative;
  }

  .push-up {
    margin-top: -150px;
  }
}

// ======================================================
// CONTACT
// ======================================================

#page-contact {
  .hero {
    @include gradient-after($color-master-darkest, transparent);
  }

  .contact-info {
    h1 {
      font-family: $font-gotham;
      font-size: 4em;
      font-weight: 700;
      letter-spacing: -.07em;
      line-height: .8;
    }

    p {
      font-size: 1.2em;
    }

    .contact-title {
      font-weight: 500;
      margin: 40px 0 10px;
    }

    .contact-details {
      font-size: 1.7em;
      line-height: 1;
      margin-top: 10px;

      a {
        // font-weight: 500;
      }
    }
  }
}
