mixin footer
  // START FOOTER
  footer.p-b-100.p-t-100.bg-white.text-master()&attributes(attributes)
    .container
      .row
        .col-sm-4.text-center.links.sm-p-b-20
          h5.text-master.block-title Quicklinks
          .m-t-20.m-b-20
            ul.muted
              li
                a(href='/') Home
              li
                a(href='/music') Music
              li
                a(href='/profile') Profile
              li
                a(href='/contact') Contact
              li
                a(href='https://arteffects.international', target='_blank') Arteffects International
              li
                a(href='http://www,cdnasyid.com', target='_blank') CD Nasyid

        .col-sm-4.text-center.b-l.b-r.sm-p-b-10
          h5.text-master.block-title Get Social
          .m-t-20.m-b-20.text-master
            ul.social-links.no-margin
              li
                a.social-icon.si-borderless.si-small.si-facebook(href="https://www.facebook.com/hafizhamidun", target="_blank", title="Facebook")
                  i.icon-facebook
              li
                a.social-icon.si-borderless.si-small.si-twitter(href="https://twitter.com/hafizhamidun", target="_blank", title="Twitter")
                  i.icon-twitter
              li
                a.social-icon.si-borderless.si-small.si-instagram(href="https://instagram.com/hafizhamidun", target="_blank", title="Instagram")
                  i.icon-instagram
              li
                a.social-icon.si-borderless.si-small.si-youtube(href="https://www.youtube.com/hafizhamidun", target="_blank", title="Youtube")
                  i.icon-youtube
                  
        .col-sm-4.text-center.copyright
          h5.text-master.block-title HafizHamidun.com
          .m-t-20.m-b-20
            p.margin-0.hint-text Copyright &#169; 2015.
            p.margin-0.muted All Rights Reserved.
  // END FOOTER
