mixin header
  nav.canvas-slide.header.bg-header(data-pages="header")&attributes(attributes)
    button.hamburger(data-pages='header-toggle')
      span toggle menu

    .container.relative
      .pull-center
        .pull-center-inner
          .header-inner.logo-wrapper
            a(href='/')
              img.alt(alt='', data-src-retina='/assets/images/logo/hh-black.svg', src='/assets/images/logo/hh-black.svg', style='height:40px;')
              img.logo(alt='', data-src-retina='/assets/images/logo/hh-white.svg', src='/assets/images/logo/hh-white.svg', style='height:40px;')

      #header.menu-content.clearfix(data-pages-direction='slideLeft', data-pages='menu-content')

        .pull-left.sm-full-width
          .header-inner
            ul.menu
              li
                a(data-body='index', data-text='Home', href='/') Home
              li
                a(data-body='music', data-text='Music', href='/music') Music
        .pull-right.sm-full-width
          .header-inner
            ul.menu
              li
                a(data-body='profile', data-text='Profile', href='/profile') Profile
              li
                a(data-body='contact', data-text='Contact', href='/contact') Contact
