@mixin gradient-after($from, $to) {
  &:after {
    content: ' ';
    background-image: linear-gradient(to top, $from, $to);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 0;
    opacity: 1;
  }
}
