@font-face {
  font-family: 'Helvetica Neue';
  src: url('/assets/fonts/helvetica-neue/helveticaneue-black-webfont.eot');
  src: url('/assets/fonts/helvetica-neue/helveticaneue-black-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/helvetica-neue/helveticaneue-black-webfont.woff') format('woff'),
       url('/assets/fonts/helvetica-neue/helveticaneue-black-webfont.ttf') format('truetype'),
       url('/assets/fonts/helvetica-neue/helveticaneue-black-webfont.svg#helvetica_neueregular') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/assets/fonts/helvetica-neue/helveticaneue-bold-webfont.eot');
  src: url('/assets/fonts/helvetica-neue/helveticaneue-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/helvetica-neue/helveticaneue-bold-webfont.woff') format('woff'),
       url('/assets/fonts/helvetica-neue/helveticaneue-bold-webfont.ttf') format('truetype'),
       url('/assets/fonts/helvetica-neue/helveticaneue-bold-webfont.svg#helvetica_neueregular') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/assets/fonts/helvetica-neue/helveticaneue-bolditalic-webfont.eot');
  src: url('/assets/fonts/helvetica-neue/helveticaneue-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/helvetica-neue/helveticaneue-bolditalic-webfont.woff') format('woff'),
       url('/assets/fonts/helvetica-neue/helveticaneue-bolditalic-webfont.ttf') format('truetype'),
       url('/assets/fonts/helvetica-neue/helveticaneue-bolditalic-webfont.svg#helvetica_neueregular') format('svg');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/assets/fonts/helvetica-neue/helveticaneue-medium-webfont.eot');
  src: url('/assets/fonts/helvetica-neue/helveticaneue-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/helvetica-neue/helveticaneue-medium-webfont.woff') format('woff'),
       url('/assets/fonts/helvetica-neue/helveticaneue-medium-webfont.ttf') format('truetype'),
       url('/assets/fonts/helvetica-neue/helveticaneue-medium-webfont.svg#helvetica_neueregular') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/assets/fonts/helvetica-neue/helveticaneue-mediumitalic-webfont.eot');
  src: url('/assets/fonts/helvetica-neue/helveticaneue-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/helvetica-neue/helveticaneue-mediumitalic-webfont.woff') format('woff'),
       url('/assets/fonts/helvetica-neue/helveticaneue-mediumitalic-webfont.ttf') format('truetype'),
       url('/assets/fonts/helvetica-neue/helveticaneue-mediumitalic-webfont.svg#helvetica_neueregular') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/assets/fonts/helvetica-neue/helveticaneue-thin-webfont.eot');
  src: url('/assets/fonts/helvetica-neue/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/helvetica-neue/helveticaneue-thin-webfont.woff') format('woff'),
       url('/assets/fonts/helvetica-neue/helveticaneue-thin-webfont.ttf') format('truetype'),
       url('/assets/fonts/helvetica-neue/helveticaneue-thin-webfont.svg#helvetica_neueregular') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/assets/fonts/helvetica-neue/helveticaneue-thinitalic-webfont.eot');
  src: url('/assets/fonts/helvetica-neue/helveticaneue-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/helvetica-neue/helveticaneue-thinitalic-webfont.woff') format('woff'),
       url('/assets/fonts/helvetica-neue/helveticaneue-thinitalic-webfont.ttf') format('truetype'),
       url('/assets/fonts/helvetica-neue/helveticaneue-thinitalic-webfont.svg#helvetica_neueregular') format('svg');
  font-weight: 200;
  font-style: italic;
}
