/*

Helvetica Neue Black
Helvetica Neue Black Condensed
Helvetica Neue Black Extended
Helvetica Neue Black Italic

Helvetica Neue Bold
Helvetica Neue Bold Condensed
Helvetica Neue Bold Extended
Helvetica Neue Bold Italic
Helvetica Neue Bold Outline

Helvetica Neue Condensed
Helvetica Neue Extra Black Condensed
Helvetica Neue Extended

Helvetica Neue Heavy
Helvetica Neue Heavy Condensed
Helvetica Neue Heavy Extended
Helvetica Neue Heavy Italic

Helvetica Neue Italic

Helvetica Neue Light
Helvetica Neue Light Condensed
Helvetica Neue Light Extended
Helvetica Neue Light Italic

Helvetica Neue Medium
Helvetica Neue Medium Condensed
Helvetica Neue Medium Extended
Helvetica Neue Medium Italic

Helvetica Neue Roman

Helvetica Neue Thin
Helvetica Neue Thin Condensed
Helvetica Neue Thin Extended
Helvetica Neue Thin Italic

Helvetica Neue Ultra Light Condensed
Helvetica Neue Ultra Light Extended
Helvetica Neue Ultra Light
Helvetica Neue Ultra Light Italic

*/




@font-face {
    font-family: 'Helvetica Neue Black';
    src: url('/assets/fonts/helvetica-neue/helveticaneue-black-webfont.eot');
    src: url('/assets/fonts/helvetica-neue/helveticaneue-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-black-webfont.woff') format('woff'),
         url('/assets/fonts/helvetica-neue/helveticaneue-black-webfont.ttf') format('truetype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-black-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica Neue Black Condensed';
    src: url('/assets/fonts/helvetica-neue/helveticaneue-blackcond-webfont.eot');
    src: url('/assets/fonts/helvetica-neue/helveticaneue-blackcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-blackcond-webfont.woff') format('woff'),
         url('/assets/fonts/helvetica-neue/helveticaneue-blackcond-webfont.ttf') format('truetype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-blackcond-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica Neue Black Extended';
    src: url('/assets/fonts/helvetica-neue/helveticaneue-blackext-webfont.eot');
    src: url('/assets/fonts/helvetica-neue/helveticaneue-blackext-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-blackext-webfont.woff') format('woff'),
         url('/assets/fonts/helvetica-neue/helveticaneue-blackext-webfont.ttf') format('truetype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-blackext-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica Neue Black Italic';
    src: url('/assets/fonts/helvetica-neue/helveticaneue-blackitalic-webfont.eot');
    src: url('/assets/fonts/helvetica-neue/helveticaneue-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-blackitalic-webfont.woff') format('woff'),
         url('/assets/fonts/helvetica-neue/helveticaneue-blackitalic-webfont.ttf') format('truetype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-blackitalic-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica Neue Bold';
    src: url('/assets/fonts/helvetica-neue/helveticaneue-bold-webfont.eot');
    src: url('/assets/fonts/helvetica-neue/helveticaneue-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-bold-webfont.woff') format('woff'),
         url('/assets/fonts/helvetica-neue/helveticaneue-bold-webfont.ttf') format('truetype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-bold-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica Neue Bold Condensed';
    src: url('/assets/fonts/helvetica-neue/helveticaneue-boldcond-webfont.eot');
    src: url('/assets/fonts/helvetica-neue/helveticaneue-boldcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-boldcond-webfont.woff') format('woff'),
         url('/assets/fonts/helvetica-neue/helveticaneue-boldcond-webfont.ttf') format('truetype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-boldcond-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica Neue Bold Extended';
    src: url('/assets/fonts/helvetica-neue/helveticaneue-boldext-webfont.eot');
    src: url('/assets/fonts/helvetica-neue/helveticaneue-boldext-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-boldext-webfont.woff') format('woff'),
         url('/assets/fonts/helvetica-neue/helveticaneue-boldext-webfont.ttf') format('truetype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-boldext-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica Neue Bold Italic';
    src: url('/assets/fonts/helvetica-neue/helveticaneue-bolditalic-webfont.eot');
    src: url('/assets/fonts/helvetica-neue/helveticaneue-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-bolditalic-webfont.woff') format('woff'),
         url('/assets/fonts/helvetica-neue/helveticaneue-bolditalic-webfont.ttf') format('truetype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-bolditalic-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica Neue Bold Outline';
    src: url('/assets/fonts/helvetica-neue/helveticaneue-boldoutline-webfont.eot');
    src: url('/assets/fonts/helvetica-neue/helveticaneue-boldoutline-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-boldoutline-webfont.woff') format('woff'),
         url('/assets/fonts/helvetica-neue/helveticaneue-boldoutline-webfont.ttf') format('truetype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-boldoutline-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica Neue Condensed';
    src: url('/assets/fonts/helvetica-neue/helveticaneue-condensed-webfont.eot');
    src: url('/assets/fonts/helvetica-neue/helveticaneue-condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-condensed-webfont.woff') format('woff'),
         url('/assets/fonts/helvetica-neue/helveticaneue-condensed-webfont.ttf') format('truetype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-condensed-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica Neue Extra Black Condensed';
    src: url('/assets/fonts/helvetica-neue/helveticaneue-extblackcond-webfont.eot');
    src: url('/assets/fonts/helvetica-neue/helveticaneue-extblackcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-extblackcond-webfont.woff') format('woff'),
         url('/assets/fonts/helvetica-neue/helveticaneue-extblackcond-webfont.ttf') format('truetype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-extblackcond-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica Neue Extended';
    src: url('/assets/fonts/helvetica-neue/helveticaneue-extended-webfont.eot');
    src: url('/assets/fonts/helvetica-neue/helveticaneue-extended-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-extended-webfont.woff') format('woff'),
         url('/assets/fonts/helvetica-neue/helveticaneue-extended-webfont.ttf') format('truetype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-extended-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica Neue Heavy';
    src: url('/assets/fonts/helvetica-neue/helveticaneue-heavy-webfont.eot');
    src: url('/assets/fonts/helvetica-neue/helveticaneue-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-heavy-webfont.woff') format('woff'),
         url('/assets/fonts/helvetica-neue/helveticaneue-heavy-webfont.ttf') format('truetype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-heavy-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica Neue Heavy Condensed';
    src: url('/assets/fonts/helvetica-neue/helveticaneue-heavycond-webfont.eot');
    src: url('/assets/fonts/helvetica-neue/helveticaneue-heavycond-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-heavycond-webfont.woff') format('woff'),
         url('/assets/fonts/helvetica-neue/helveticaneue-heavycond-webfont.ttf') format('truetype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-heavycond-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica Neue Heavy Extended';
    src: url('/assets/fonts/helvetica-neue/helveticaneue-heavyext-webfont.eot');
    src: url('/assets/fonts/helvetica-neue/helveticaneue-heavyext-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-heavyext-webfont.woff') format('woff'),
         url('/assets/fonts/helvetica-neue/helveticaneue-heavyext-webfont.ttf') format('truetype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-heavyext-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica Neue Heavy Italic';
    src: url('/assets/fonts/helvetica-neue/helveticaneue-heavyitalic-webfont.eot');
    src: url('/assets/fonts/helvetica-neue/helveticaneue-heavyitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-heavyitalic-webfont.woff') format('woff'),
         url('/assets/fonts/helvetica-neue/helveticaneue-heavyitalic-webfont.ttf') format('truetype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-heavyitalic-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica Neue Italic';
    src: url('/assets/fonts/helvetica-neue/helveticaneue-italic-webfont.eot');
    src: url('/assets/fonts/helvetica-neue/helveticaneue-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-italic-webfont.woff') format('woff'),
         url('/assets/fonts/helvetica-neue/helveticaneue-italic-webfont.ttf') format('truetype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-italic-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica Neue Light';
    src: url('/assets/fonts/helvetica-neue/helveticaneue-light-webfont.eot');
    src: url('/assets/fonts/helvetica-neue/helveticaneue-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-light-webfont.woff') format('woff'),
         url('/assets/fonts/helvetica-neue/helveticaneue-light-webfont.ttf') format('truetype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-light-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica Neue Light Condensed';
    src: url('/assets/fonts/helvetica-neue/helveticaneue-lightcond-webfont.eot');
    src: url('/assets/fonts/helvetica-neue/helveticaneue-lightcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-lightcond-webfont.woff') format('woff'),
         url('/assets/fonts/helvetica-neue/helveticaneue-lightcond-webfont.ttf') format('truetype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-lightcond-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica Neue Light Extended';
    src: url('/assets/fonts/helvetica-neue/helveticaneue-lightext-webfont.eot');
    src: url('/assets/fonts/helvetica-neue/helveticaneue-lightext-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-lightext-webfont.woff') format('woff'),
         url('/assets/fonts/helvetica-neue/helveticaneue-lightext-webfont.ttf') format('truetype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-lightext-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica Neue Light Italic';
    src: url('/assets/fonts/helvetica-neue/helveticaneue-lightitalic-webfont.eot');
    src: url('/assets/fonts/helvetica-neue/helveticaneue-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-lightitalic-webfont.woff') format('woff'),
         url('/assets/fonts/helvetica-neue/helveticaneue-lightitalic-webfont.ttf') format('truetype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-lightitalic-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica Neue Medium';
    src: url('/assets/fonts/helvetica-neue/helveticaneue-medium-webfont.eot');
    src: url('/assets/fonts/helvetica-neue/helveticaneue-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-medium-webfont.woff') format('woff'),
         url('/assets/fonts/helvetica-neue/helveticaneue-medium-webfont.ttf') format('truetype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-medium-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica Neue Medium Condensed';
    src: url('/assets/fonts/helvetica-neue/helveticaneue-mediumcond-webfont.eot');
    src: url('/assets/fonts/helvetica-neue/helveticaneue-mediumcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-mediumcond-webfont.woff') format('woff'),
         url('/assets/fonts/helvetica-neue/helveticaneue-mediumcond-webfont.ttf') format('truetype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-mediumcond-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica Neue Medium Extended';
    src: url('/assets/fonts/helvetica-neue/helveticaneue-mediumext-webfont.eot');
    src: url('/assets/fonts/helvetica-neue/helveticaneue-mediumext-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-mediumext-webfont.woff') format('woff'),
         url('/assets/fonts/helvetica-neue/helveticaneue-mediumext-webfont.ttf') format('truetype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-mediumext-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica Neue Medium Italic';
    src: url('/assets/fonts/helvetica-neue/helveticaneue-mediumitalic-webfont.eot');
    src: url('/assets/fonts/helvetica-neue/helveticaneue-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-mediumitalic-webfont.woff') format('woff'),
         url('/assets/fonts/helvetica-neue/helveticaneue-mediumitalic-webfont.ttf') format('truetype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-mediumitalic-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica Neue Roman';
    src: url('/assets/fonts/helvetica-neue/helveticaneue-roman-webfont.eot');
    src: url('/assets/fonts/helvetica-neue/helveticaneue-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-roman-webfont.woff') format('woff'),
         url('/assets/fonts/helvetica-neue/helveticaneue-roman-webfont.ttf') format('truetype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-roman-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica Neue Thin';
    src: url('/assets/fonts/helvetica-neue/helveticaneue-thin-webfont.eot');
    src: url('/assets/fonts/helvetica-neue/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-thin-webfont.woff') format('woff'),
         url('/assets/fonts/helvetica-neue/helveticaneue-thin-webfont.ttf') format('truetype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-thin-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica Neue Thin Condensed';
    src: url('/assets/fonts/helvetica-neue/helveticaneue-thincond-webfont.eot');
    src: url('/assets/fonts/helvetica-neue/helveticaneue-thincond-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-thincond-webfont.woff') format('woff'),
         url('/assets/fonts/helvetica-neue/helveticaneue-thincond-webfont.ttf') format('truetype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-thincond-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica Neue Thin Extended';
    src: url('/assets/fonts/helvetica-neue/helveticaneue-thinext-webfont.eot');
    src: url('/assets/fonts/helvetica-neue/helveticaneue-thinext-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-thinext-webfont.woff') format('woff'),
         url('/assets/fonts/helvetica-neue/helveticaneue-thinext-webfont.ttf') format('truetype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-thinext-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica Neue Thin Italic';
    src: url('/assets/fonts/helvetica-neue/helveticaneue-thinitalic-webfont.eot');
    src: url('/assets/fonts/helvetica-neue/helveticaneue-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-thinitalic-webfont.woff') format('woff'),
         url('/assets/fonts/helvetica-neue/helveticaneue-thinitalic-webfont.ttf') format('truetype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-thinitalic-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica Neue Ultra Light Condensed';
    src: url('/assets/fonts/helvetica-neue/helveticaneue-ultraligcond-webfont.eot');
    src: url('/assets/fonts/helvetica-neue/helveticaneue-ultraligcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-ultraligcond-webfont.woff') format('woff'),
         url('/assets/fonts/helvetica-neue/helveticaneue-ultraligcond-webfont.ttf') format('truetype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-ultraligcond-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica Neue Ultra Light Extended';
    src: url('/assets/fonts/helvetica-neue/helveticaneue-ultraligext-webfont.eot');
    src: url('/assets/fonts/helvetica-neue/helveticaneue-ultraligext-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-ultraligext-webfont.woff') format('woff'),
         url('/assets/fonts/helvetica-neue/helveticaneue-ultraligext-webfont.ttf') format('truetype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-ultraligext-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica Neue Ultra Light';
    src: url('/assets/fonts/helvetica-neue/helveticaneue-ultralight-webfont.eot');
    src: url('/assets/fonts/helvetica-neue/helveticaneue-ultralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-ultralight-webfont.woff') format('woff'),
         url('/assets/fonts/helvetica-neue/helveticaneue-ultralight-webfont.ttf') format('truetype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-ultralight-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica Neue Ultra Light Italic';
    src: url('/assets/fonts/helvetica-neue/helveticaneue-ultralightital-webfont.eot');
    src: url('/assets/fonts/helvetica-neue/helveticaneue-ultralightital-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-ultralightital-webfont.woff') format('woff'),
         url('/assets/fonts/helvetica-neue/helveticaneue-ultralightital-webfont.ttf') format('truetype'),
         url('/assets/fonts/helvetica-neue/helveticaneue-ultralightital-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



.Helvetica-Neue-Black {
    font-family: 'Helvetica Neue Black', Helvetica, Arial, sans-serif;
}

.Helvetica-Neue-Black-Condensed {
    font-family: 'Helvetica Neue Black Condensed', Helvetica, Arial, sans-serif;
}

.Helvetica-Neue-Black-Extended {
    font-family: 'Helvetica Neue Black Extended', Helvetica, Arial, sans-serif;
}

.Helvetica-Neue-Black-Italic {
    font-family: 'Helvetica Neue Black Italic', Helvetica, Arial, sans-serif;
}

.Helvetica-Neue-Bold {
    font-family: 'Helvetica Neue Bold', Helvetica, Arial, sans-serif;
}

.Helvetica-Neue-Bold-Condensed {
    font-family: 'Helvetica Neue Bold Condensed', Helvetica, Arial, sans-serif;
}

.Helvetica-Neue-Bold-Extended {
    font-family: 'Helvetica Neue Bold Extended', Helvetica, Arial, sans-serif;
}

.Helvetica-Neue-Bold-Italic {
    font-family: 'Helvetica Neue Bold Italic', Helvetica, Arial, sans-serif;
}

.Helvetica-Neue-Bold-Outline {
    font-family: 'Helvetica Neue Bold Outline', Helvetica, Arial, sans-serif;
}

.Helvetica-Neue-Condensed {
    font-family: 'Helvetica Neue Condensed', Helvetica, Arial, sans-serif;
}

.Helvetica-Neue-Extra-Black-Condensed {
    font-family: 'Helvetica Neue Extra Black Condensed', Helvetica, Arial, sans-serif;
}

.Helvetica-Neue-Extended {
   font-family: 'Helvetica Neue Extended', Helvetica, Arial, sans-serif;
}

.Helvetica-Neue-Heavy {
    font-family: 'Helvetica Neue Heavy', Helvetica, Arial, sans-serif;
}

.Helvetica-Neue-Heavy-Condensed {
    font-family: 'Helvetica Neue Heavy Condensed', Helvetica, Arial, sans-serif;
}

.Helvetica-Neue-Heavy-Extended {
    font-family: 'Helvetica Neue Heavy Extended', Helvetica, Arial, sans-serif;
}

.Helvetica-Neue-Heavy-Italic {
    font-family: 'Helvetica Neue Heavy Italic', Helvetica, Arial, sans-serif;
}

.Helvetica-Neue-Italic {
    font-family: 'Helvetica Neue Italic', Helvetica, Arial, sans-serif;
}

.Helvetica-Neue-Light {
    font-family: 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
}

.Helvetica-Neue-Light-Condensed {
    font-family: 'Helvetica Neue Light Condensed', Helvetica, Arial, sans-serif;
}

.Helvetica-Neue-Light-Extended {
    font-family: 'Helvetica Neue Light Extended', Helvetica, Arial, sans-serif;
}

.Helvetica-Neue-Light-Italic {
    font-family: 'Helvetica Neue Light Italic', Helvetica, Arial, sans-serif;
}

.Helvetica-Neue-Medium {
    font-family: 'Helvetica Neue Medium', Helvetica, Arial, sans-serif;
}

.Helvetica-Neue-Medium-Condensed {
    font-family: 'Helvetica Neue Medium Condensed', Helvetica, Arial, sans-serif;
}

.Helvetica-Neue-Medium-Extended {
    font-family: 'Helvetica Neue Medium Extended', Helvetica, Arial, sans-serif;
}

.Helvetica-Neue-Medium-Italic {
    font-family: 'Helvetica Neue Medium Italic', Helvetica, Arial, sans-serif;
}

.Helvetica-Neue-Roman {
    font-family: 'Helvetica Neue Roman', Helvetica, Arial, sans-serif;
}

.Helvetica-Neue-Thin {
    font-family: 'Helvetica Neue Thin', Helvetica, Arial, sans-serif;
}

.Helvetica-Neue-Thin-Condensed {
    font-family: 'Helvetica Neue Thin Condensed', Helvetica, Arial, sans-serif;
}

.Helvetica-Neue-Thin-Extended {
    font-family: 'Helvetica Neue Thin Extended', Helvetica, Arial, sans-serif;
}

.Helvetica-Neue-Thin-Italic {
    font-family: 'Helvetica Neue Thin Italic', Helvetica, Arial, sans-serif;
}

.Helvetica-Neue-Ultra-Light-Condensed {
    font-family: 'Helvetica Neue Ultra Light Condensed', Helvetica, Arial, sans-serif;
}

.Helvetica-Neue-Ultra-Light-Extended {
    font-family: 'Helvetica Neue Ultra Light Extended', Helvetica, Arial, sans-serif;
}

.Helvetica-Neue-Ultra-Light {
    font-family: 'Helvetica Neue Ultra Light', Helvetica, Arial, sans-serif;
}

.Helvetica-Neue-Ultra-Light-Italic {
    font-family: 'Helvetica Neue Ultra Light Italic', Helvetica, Arial, sans-serif;
}


.Helvetica-Neue-h1 {
	font-size: 240%;
}
.Helvetica-Neue-h2 {
	font-size: 180%;
}
.Helvetica-Neue-h3 {
	font-size: 160%;
}
.Helvetica-Neue-h4 {
	font-size: 140%;
}
.Helvetica-Neue-h5 {
	font-size: 120%;
}
.Helvetica-Neue-h6 {
	font-size: 100%;
}
