@font-face {
  font-family: 'LeagueGothic';
  src: url("/assets/fonts/league-gothic/League_Gothic-webfont.eot");
  src: url("/assets/fonts/league-gothic/League_Gothic-webfont.eot?#iefix") format('embedded-opentype'), url("/assets/fonts/league-gothic/League_Gothic-webfont.woff") format('woff'), url("/assets/fonts/league-gothic/League_Gothic-webfont.ttf") format('truetype'), url("/assets/fonts/league-gothic/League_Gothic-webfont.svg#LeagueGothicRegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
