include modules/_header
include modules/_footer

extends layouts/_default

block vars
  - var bodyClass = 'awards';
  
block title
  title Awards &middot; Seagate Global Trading
    
block content
  +header(class="bg-header transparent-light", data-pages-header="autoresize", data-pages-resize-class="light-solid")

  section.hero(data-pages="parallax", data-pages-bg-image="/assets/images/hero/city.jpg", data-bg-overlay-class="bg-black", data-overlay-opacity="0.5")
    .container-xs-height.full-height
      .col-xs-height.col-middle.text-center
        .col-sm-8.col-sm-offset-2.inner
          h1.text-white.divider
            b Awards
          h3.text-white Some of our accolades through the years.

  section.p-b-30.p-t-40.bg-master-lightest
    .container
      .social-wrapper
        .social(data-pages="social")
          .feed
            .day(data-social="day")

              .card.share.col1(data-social="item")
                .card-header.clearfix
                  h5 Capital China Outstanding Enterprise Award
                  h6 Outstanding Investment Corporation Award
                .card-description
                  .award-pic
                    img(src="/assets/images/awards/capital-china.png", alt="")
                .card-footer.clearfix.font-montserrat.all-caps
                  .pull-left
                    | by 
                    span.text-primary Capital China
                  .pull-right.text-primary
                    i.ti-calendar
                    | &nbsp;&nbsp;2008
                  .clearfix
                  
              
              .card.share.col1(data-social="item")
                .card-header.clearfix
                  h5 Capital China Outstanding Enterprise Award
                  h6 Outstanding Investment Corporation Award
                .card-description
                  .award-pic
                    img(src="/assets/images/awards/capital-china-2.png", alt="")
                .card-footer.clearfix.font-montserrat.all-caps
                  .pull-left
                    | by 
                    span.text-primary Capital China
                  .pull-right.text-primary
                    i.ti-calendar
                    | &nbsp;&nbsp;2009
                  .clearfix
                    
              
              .card.share.col1(data-social="item")
                .card-header.clearfix
                  h5 Appointment As Economic Advisor
                  h6 Bougainville, Papua New Guinea
                .card-description
                  .award-pic
                    img(src="/assets/images/awards/papua.png", alt="")
                .card-footer.clearfix.font-montserrat.all-caps
                  .pull-left
                    | by 
                    span.text-primary Bougainville
                  .pull-right.text-primary
                    i.ti-calendar
                    | &nbsp;&nbsp;2012
                  .clearfix
                    
                    
              .card.share.col1(data-social="item")
                .card-header.clearfix
                  h5 Best Performing Global Fixed Income Fund Award 2004
                  h6 Global Alternative Investment Management, Lausanne, Switzerland
                .card-description
                  .award-pic
                    img(src="/assets/images/awards/swiss.png", alt="")
                .card-footer.clearfix.font-montserrat.all-caps
                  .pull-left
                    | by 
                    span.text-primary GAIM
                  .pull-right.text-primary
                    i.ti-calendar
                    | &nbsp;&nbsp;2004
                  .clearfix
                    
                    
              .card.share.col1(data-social="item")
                .card-header.clearfix
                  h5 Services Contributed
                  h6 Kota Bahru, Malaysia
                .card-description
                  .award-pic
                    img(src="/assets/images/awards/trina.png", alt="")
                .card-footer.clearfix.font-montserrat.all-caps
                  .pull-left
                    | by 
                    a.text-primary(href="//http://www.trinasolar.com/", target="_blank") Trina Solar
                  .pull-right.text-primary
                    i.ti-calendar
                    | &nbsp;&nbsp;2013
                  .clearfix
                    
                    
              .card.share.col1(data-social="item")
                .card-header.clearfix
                  h5 Services Rendered As Director of Citic Capital
                  h6 Citic Capital Holding Ltd
                .card-description
                  .award-pic
                    img(src="/assets/images/awards/citic.png", alt="")
                .card-footer.clearfix.font-montserrat.all-caps
                  .pull-left
                    | by 
                    a.text-primary(href="//http://www.citiccapital.com/", target="_blank") Citic Capital
                  .pull-right.text-primary
                    i.ti-calendar
                    | &nbsp;&nbsp;2013
                  .clearfix
                    
                    
              .card.share.col1(data-social="item")
                .card-header.clearfix
                  h5 Launch of Program For Global Excellence
                  h6 Province of Zambales, Philippines
                .card-description
                  .award-pic
                    img(src="/assets/images/awards/philippines.png", alt="")
                .card-footer.clearfix.font-montserrat.all-caps
                  .pull-left
                    | by 
                    span.text-primary Pr. of Zambales, PHL
                  .pull-right.text-primary
                    i.ti-calendar
                    | &nbsp;&nbsp;2012
                  .clearfix
                    
                    
              .card.share.col1(data-social="item")
                .card-header.clearfix
                  h5 Top 10 Best Performing Global Fixed Income Fund Award
                  h6 Barclays Fund Report
                .card-description
                  .award-pic
                    img(src="/assets/images/awards/barclays.png", alt="")
                .card-footer.clearfix.font-montserrat.all-caps
                  .pull-left
                    | by 
                    a.text-primary(href="//www.barclaysinvestments.co.uk/", target="_blank") Barclays Fund Report
                  .pull-right.text-primary
                    i.ti-calendar
                    | &nbsp;&nbsp;2005
                  .clearfix
                    
  +footer
