include modules/_header
include modules/_footer

extends layouts/_default

block vars
  - var bodyClass = 'index';
  
block content
  +header.transparent-light(data-pages-header="autoresize", data-pages-resize-class="light-solid")

  section.jumbotron.full-vh(data-pages='parallax')
    .inner.full-vh

      #hero.swiper-container
        .swiper-wrapper

          .swiper-slide.fit.bg-master-darkest
            .slider-wrapper
              .background-wrapper(data-swiper-parallax='20%')
                //- .background.hidden-xs.hidden-sm(data-pages-bg-image='/assets/images/hero/hh1.jpg', data-bg-overlay-class='bg-master-darkest', data-overlay-opacity='0.6', draggable='false')
                .background(data-pages-bg-image='/assets/images/hero/hh2.jpg', data-bg-overlay-class='bg-master-darkest', data-overlay-opacity='0.6', draggable='false')

            .content-layer
              .inner.full-height
                .container-xs-height.full-height
                  .col-xs-height.col-middle
                    .container.text-center.xs-text-left.text-white.xs-p-t-100
                      .col-sm-12
                        h1.no-orphan(data-pages-animation='standard', data-delay='1500', data-type='transition.slideDownIn')
                          | Discover the 
                          b(data-pages-init='text-rotate', data-speed='3000', data-animation='flipUp') Man, Music, Work
                          
                        h3.m-t-20(data-pages-animation='standard', data-delay='2000', data-type='transition.slideDownIn')
                          a.text-white.link.watchvid(href="#")
                            | Newest music video "Penyelamat" 
                            i.icon-arrow-right

          // data-pages-header="alternate"
          .swiper-slide.fit.bg-black
            .slider-wrapper

            .content-layer
              .full-height
                .container-xs-height.full-height
                  .col-xs-height.col-middle
                    // VIDEO
                    div(data-fitvids).
                      <iframe id="penyelamat" src="https://player.vimeo.com/video/139725789?color=2979ff&title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

        .mouse-wrapper
          .mouse
            .mouse-scroll

        .swiper-navigation.swiper-rounded.swiper-white-solid.swiper-button-prev.auto-reveal
        .swiper-navigation.swiper-rounded.swiper-white-solid.swiper-button-next.auto-reveal

  section.bg-master-darkest.text-white
    .container.p-t-100.p-b-100.xs-padding-50.text-center
      .row
        .col-sm-6.col-sm-offset-3
          h5.block-title.text-master Meet Hafiz Hamidun
          h2.slab.no-margin.divider.text-white(data-slabtext)
            span.slabtext.text-master-light
              | Selamat datang. Welcome. 
            span.slabtext
              | Ahlan Wasahlan. Bienvenue. Willkommen.

          //- h5.block-title.text-master Meet Hafiz Hamidun
          //- h2.m-t-10.no-orphan.text-master-light
          //-   b Selamat datang. Welcome. 
          //-   i Ahlan Wasahlan. Bienvenue. Willkommen.

          p.text-master-lightest
            | This is the home of Hafiz Hamidun in the world wide web; all information regarding albums, singles, shows, concerts and the fashion line can be found here.

  section.p-t-60.p-b-60.bg-master.text-white
    .container
      .row
        .col-sm-12
          .social-count
            .col-sm-4
              a.margin-10.c-facebook(href='https://www.facebook.com/hafizhamidun', target='_blank')
                .progress-circle-indeterminate.progress-circle-white
                span.wrapper
                  i.icon-facebook
                  .count
                  .block-title.muted likes
            .col-sm-4
              a.margin-10.c-twitter(href='https://twitter.com/hafizhamidun', target='_blank')
                .progress-circle-indeterminate.progress-circle-white
                span.wrapper
                  i.icon-twitter
                  .count
                  .block-title.muted followers
            .col-sm-4
              a.margin-10.c-instagram(href='https://instagram.com/hafizhamidun', target='_blank')
                .progress-circle-indeterminate.progress-circle-white
                span.wrapper
                  i.icon-instagram
                  .count
                  .block-title.muted followers
            .col-sm-4
              a.margin-10.c-youtube(href='https://youtube.com/user/HafizHamidunVEVO', target='_blank')
                .progress-circle-indeterminate.progress-circle-white
                span.wrapper
                  i.soc-vevo
                  .count
                  .block-title.muted subscribers
            .col-sm-4
              a.margin-10.c-spotify(href='https://open.spotify.com/artist/6DgMaXR0c070BQWs9VyuNB', target='_blank')
                .progress-circle-indeterminate.progress-circle-white
                span.wrapper
                  i.icon-spotify
                  .count
                  .block-title.muted followers
            .col-sm-4
              a.margin-10.c-soundcloud(href='https://www.soundcloud.com/hafizhamidun', target='_blank')
                .progress-circle-indeterminate.progress-circle-white
                span.wrapper
                  i.icon-soundcloud
                  .count
                  .block-title.muted followers

  section.p-b-80.p-t-80.bg-master-darkest.text-white(data-pages-bg-image="/assets/images/hero/star2.jpg", data-bg-overlay-class="bg-master-darkest", data-overlay-opacity="0.8")
    .container.p-b-50.p-t-50
      .row
        .col-sm-6.col-sm-offset-3
          .col-middle.text-center
            h2.slab.no-margin.divider.text-white(data-slabtext)
              span.slabtext.text-master-light
                | Sound is divine
              span.slabtext
                | Music is man-made
            
            //- img.margin-40(src="/assets/images/hip-arrow-cross-white.svg", alt="", style={width: '20%'})
            
            h3.slab.no-margin.m-b-30.text-white(data-slabtext)
              span.slabtext
                | That's how art connects to our
              span.slabtext.text-master-light
                | spirituality

            a.btn.btn-lg.btn-rounded.btn-warning.text-black.block-title.margin-5(href='/music') Explore Works
            a.btn.btn-lg.btn-rounded.btn-primary.text-white.block-title.margin-5(href='/profile') Hafiz's Profile

  section.instagram-feed.bg-master
    .instagram-isotope
      .grid-sizer

  +footer
