include modules/_header
include modules/_footer

extends layouts/_default

block vars
  - var bodyClass = 'about introduction';

block title
  title Introduction &middot; Seagate Global Trading
    
block content
  +header(class="bg-header transparent-light", data-pages-header="autoresize", data-pages-resize-class="light-solid")

  section.hero(data-pages="parallax", data-pages-bg-image="/assets/images/hero/stairs.jpg", data-bg-overlay-class="bg-black", data-overlay-opacity="0.5")
    .container-xs-height.full-height
      .col-xs-height.col-middle.text-center
        .col-sm-10.col-sm-offset-1.inner
          h1.divider.text-white
            b Introduction
          .col-sm-6.col-left
            h2.excerpt
              | Seagate Global Trading Sdn Bhd is part of 
              em Seagate Global Group
              | , an international investment consortium that was founded in 1996.
          .col-sm-6.col-right
            p
              | Seagate Global has won 
              a.text-white(href="/awards.html") numerous international awards 
              |  for its achievements in the field of investment funds, Hedge Funds &#38; Private Equity. Among the achievements of Seagate inthe year on 2004 are GAIM Lausanne Global Winner for Top Global Fixed Income Fund, Barclays Top 10 Best Performing Global Fixed Income Fund for 2002, 2003, 2004 &#38; 2005 Top 10 Best Performing Barclays Emerging Market Manager for 2002, 2003, 2004&#160;&#38;&#160;2005.

  section.p-t-70.p-b-70.xs-p-b-0.bg-white
    .container
      .row
        .col-sm-10.col-sm-offset-1.text-center
          h3.big-heading.divider Strategic investments
          p
            | Seagate Global has invested more than USD $250 Million on companies with small and medium enterprises in Africa, and has acted as a strategic investor in these companies to be listed on a public stock exchange in New York, Hong Kong, Shanghai and Shenzhen. Seagate Global Consortium investments on green technology has resulted in a profit of more than USD $400 Million and return on investment of more than 800%. This proves that investing in environmentally friendly &#38; helpful people can still generate high investment returns.
  section.image-square.left
    .col-md-6.image-square-image
      .bg-image.bg-size-cover.full-width.full-height(style="background-position: 80% center;", data-pages-bg-image="/assets/images/hero/calc.jpg")
    .col-md-6.image-square-content.text-center
      h3.big-heading.divider Investment in multiple&#160;countries
      p
        | Seagate Global Group has invested in many countries, including China and Southeast Asia. For investment in Malaysia, Seagate Global devote the attention in the field of construction and development projects which require substantial capital investment to implement. This is part where Global Seagate jointly support the Government in 2020 which will be achieved within a few years longer.
  section.image-square.right
    .col-md-6.image-square-content.text-center
      h3.big-heading.divider Global Excellence Program
      p
        | These were among the businesses that are included in the Global Excellence Program within the focus is on the implementation of community-based investment program in Southeast Asia which aims to bring sustainable development to the community in South East Asia with a focus on economic sectors of a country where the government needs the cooperation in the form of Public-Private Partnerships.
      p
        | The Program is fully funded by Seagate Global as one of our Corporate Social Responsibility efforts where its being implemented in countries such as China, the Philippines and Papua New Guinea, which has reached a total of 150 thousand families.
    .col-md-6.image-square-image
      .bg-image.bg-size-cover.full-width.full-height(style="background-position: 80% center;", data-pages-bg-image="/assets/images/hero/walk.jpg")

  +footer
