include modules/_header
include modules/_footer

extends layouts/_default

block vars
  - var pageTitle = 'Music';
  - var bodyClass = 'music';
  
block content
  +header(class="bg-header transparent-light", data-pages-header="autoresize", data-pages-resize-class="light-solid")

  // BEGIN HERO WITH PARALLAX
  section.hero.bg-primary
    .container-xs-height.full-height
      .col-xs-height.col-middle.text-center
        .col-sm-12
          h1.text-white.inner
            | Discover the 
            b music
  // END HERO WITH PARALLAX
  // BEGIN PORTFOLIO SECTION
  section.bg-white
    .container.p-t-80.p-b-80
      .music-isotope.text-white
        .grid-sizer
        // START GALLERY ITEM
        .grid
          .inner
            h3.no-margin Mikraj Cinta
            h4.hint-text.m-t-5.m-b-0 May 2015
            .labels.m-t-10
              .label Single
              .label Dato' Siti Nurhaliza
          .ar-1-1
          .bg
          img(src="/assets/images/music/siti-mc.jpg", alt="")
        // END GALLERY ITEM
        // START GALLERY ITEM
        .grid
          .inner
            h3.no-margin
              | I 
              i.fa.fa-heart
              |  Rasulullah
            h4.hint-text.m-t-5.m-b-0 January 2015
            .labels.m-t-10
              .label Studio Album
              .label Zikir
              .label Salawat
          .ar-1-1
          .bg
          img(src="/assets/images/music/hh-ilr.jpg", alt="")
        // END GALLERY ITEM
        // START GALLERY ITEM
        .grid
          .inner
            h3.no-margin Zikir Terapi Diri 1
            h4.hint-text.m-t-5.m-b-0 Nov 2011
            .labels.m-t-10
              .label Studio Album
              .label Zikir
              .label Therapy
          .ar-1-1
          .bg
          img(src="/assets/images/music/hh-ztd1.jpg", alt="")
        // END GALLERY ITEM
        // START GALLERY ITEM
        .grid
          .inner
            h3.no-margin Zikir Terapi Diri 2
            h4.hint-text.m-t-5.m-b-0 June 2013
            .labels.m-t-10
              .label Studio Album
              .label Zikir
              .label Therapy
          .ar-1-1
          .bg
          img(src="/assets/images/music/hh-ztd2.jpg", alt="")
        // END GALLERY ITEM
        // START GALLERY ITEM
        .grid
          .inner
            h3.no-margin Zikir Terapi Diri 3
            h4.hint-text.m-t-5.m-b-0 June 2014
            .labels.m-t-10
              .label Studio Album
              .label Zikir
              .label Therapy
          .ar-1-1
          .bg
          img(src="/assets/images/music/hh-ztd3.jpg", alt="")
        // END GALLERY ITEM
  // END PORTFOLIO SECTION

  +footer
