include modules/_header
include modules/_footer

extends layouts/_default

block vars
  - var pageTitle = 'About'
  - var bodyClass = 'about';

block content
  +header(class="bg-header transparent-light", data-pages-header="autoresize", data-pages-resize-class="light-solid")

  section.hero.bg-primary
    .container-xs-height.full-height
      .col-xs-height.col-middle.text-center
        .col-sm-12
          h1.inner.text-white
            | Follow the 
            b journey
            
  section.p-b-70.p-t-70.bg-master-darkest.text-master-lighter
    .container
      .row
        h2.big-heading.divider.text-primary Meet Hafiz Hamidun
        
        .col-sm-5.col-sm-offset-1
          h3.excerpt.m-t-0.sm-m-t-30.text-primary-light.text-right.sm-text-center
            | At tender age of 5, Hafiz Hamidun has shown his talent in singing and passion with music. Only after his secondary education in 2002, Hafiz joined UNIC, a Nasyid group consisting talented teenagers singers, and signed a recording deal under 
            i Hijjaz Records / EMI Malaysia.
          
        .col-sm-5
          p.m-t-0.sm-m-t-30.sm-text-center
            | As they say, the rest is history, Hafiz never cease to contribute in local and international arena for the past 12 years. Being a non-conformist, in 2007 Hafiz self produced and released his self-titled solo album with FMC Music. Ever since, Hafiz was geared to refine his vision and aspire to produce more engaging and outside the box materials. His vision is; trough his music, to bring about positive messages and spiritual context. And for that, in 2009, Syukran, his second album was produced and released.

  section.p-b-70.p-t-70.bg-master-lightest(data-pages="parallax", data-pages-bg-image="/assets/images/hero/afxreel.jpg", data-bg-overlay-class="bg-primary-darker", data-overlay-opacity="0.8")
    .container.text-white
      .row
        .col-sm-8.col-sm-offset-2
          h3.excerpt.text-center
            | In 2011, 
            i Arteffects International
            |  was founded and established to stride his vision and passion on rebranding spiritual music. It was 
            i Zikir Terapi Diri
            |  &mdash; his third album, which made a national phenomenon and headlines. The album was the highest selling album in 2012 (South East Asia) and up to date, more than 500,000 physical albums were sold. 


  section.p-b-70.p-t-70.bg-master-darkest.text-master-lighter
    .container
      .row
        .col-sm-8.col-sm-offset-2
          p.text-center
            | Besides being a composer and musician, Hafiz is an astounding performer with crisp vocal, appeared for various events attended before Royalties, VVIPs and Guest of Honors. His talent made request to perform in many countries such as Singapore, Brunei, Indonesia, Thailand, Vietnam, India, Saudi Arabia, United Arab Emirates, Turkey, United Kingdom, France, and China. His latest album &mdash; 
            i Zikir Terapi Diri 2
            |  is about to mark another history. The new album sold a staggering 18,000 copies approximately one week after the album was launched on July 2013. The number reached 30,000 copies in less than a month. This is such a great achievement for album sales in Malaysia. Hafiz is truly a star and his talent shines like a precious diamond. Hafiz enterprising spirit has sealed recording licensing deals worldwide, estimated RM5 million. He has envisioned that he would revolutionize the local music industry thus always keeping him in check with current trends.

  +footer
