include modules/_header
include modules/_footer

extends layouts/_default

block vars
  - var pageId = 'profile';
  - var pageTitle = 'Profile'

block header
  +header.transparent-light(data-pages-header="autoresize", data-pages-resize-class="light-solid")

block content
  section.hero(data-pages-bg-image="/assets/images/hero/road.jpg", data-bg-overlay-class="bg-master-darkest", data-overlay-opacity="0.5")
    .container-xs-height.full-height
      .col-xs-height.col-middle
        .container.text-center.xs-text-left
          .col-sm-12
            h1.inner.text-white
              | Follow the 
              b journey

  section.push-up.p-b-150.p-t-50.text-master-lighter
    .container
      .row
        .col-md-6.col-md-offset-3.m-b-60
          h3.slab(data-slabtext)
            span.slabtext.text-white There are no rules to my
            span.slabtext.text-master-light fans 
              i &amp; 
              | followers
            span.slabtext.text-white
              | they are free to 
              span.mdc-text-pink-400 love me 
              | or 
              span.mdc-text-cyan hate me
          h3.text-center.muted
            | &mdash; 
            img(src="/assets/images/logo/hh-white.svg", alt="Hafiz Hamidun", style={height: '1.5em'})

  section.push-up.p-b-170.p-t-120.text-master-lighter
    .container
      .row
        .col-md-4.col-md-offset-1
          p.excerpt.m-t-0.m-b-10.text-right.sm-text-center
            i Coming from a simple family from Teluk Intan, Perak, Malaysia, Hafiz had to sacrifice to make ends meet, and therefore takes his work seriously.
          
        .col-md-6
          p.m-t-0.sm-m-t-30.text-primary-light.sm-text-center
            | His lyrics for his songs that he writes are filled with profound messages, which he says are meant for himself. The lyrics are a reflection of the emotion he evokes and he wants his listeners to feel them. And they sure do. Even his non-Muslim listeners who come as far as mainland China, told him that they can relate to his songs, especially when they are about the love for God and the purpose of life. After all, Hafiz’s intentions are to promote peace.

  section.p-b-150.p-t-100.bg-master-lightest(data-pages="parallax", data-pages-bg-image="/assets/images/hero/piano.jpg", data-bg-overlay-class="bg-primary-darker", data-overlay-opacity="0.3")
    .container.text-white
      .row
        .col-md-12.text-center
          h4.block-title.text-white.muted
            | Who is Hafiz's
          h2.big-heading.text-white.divider
            | Idol to look up to?
        
        .col-md-6.col-md-offset-1
          p.m-t-0.sm-m-t-30.text-white.text-right.sm-text-center
            | But with all the glitz and glamour of the music industry, Hafiz knew the price that he had to pay for where he is today. Despite experiencing many challenges and sacrificing family time due to high travel demands, Hafiz said that he never feels satisfied as there’s more to achieve. He plans to collaborate with studios in Istanbul and Mumbai. He also wants to work with prolific producer such as AR Rahman, the star who redefined Bollywood film music. 

        .col-md-4
          p.excerpt.big.m-t-0.m-b-10.sm-text-center
            i.quote &ldquo;I’ve watched his videos and read his books. He engages the world and its time that we infuse some of his methods into Sufi music&rdquo;

  section.p-b-150.p-t-150.text-master-lighter.text-center
    .container
      .row
        .col-md-10.col-md-offset-1.col-sm-12
          h4.block-title.text-master-light
            | What are his
          h2.big-heading.text-master.divider
            | long-term goals?

          .text-master-lighter
            p.excerpt
              i “I’d like to make Malaysia a nasheed hub, and to jump start nasheed as a career to promote Islamic art in the world. But in order to achieve this, I have to learn more about Islam, and it should never stop.”
        
            p
              | As for those who would like to enter the world of nasheed as professionals, Hafiz says, “Find your own style and be yourself. Build good relationships. Yes, there’s a lot of sacrifices to be made. But you must believe that what you’re doing is for God.”

  section.bg-white.text-master(style={height:'600px'})
    .container.full-height
      .row.full-height
        .col-md-4.hidden-xs.hidden-sm.full-height
          .full-height.pull-right.hidden-xs(style={width:'500px'}, data-pages="parallax", data-pages-bg-image="/assets/images/hero/muslim.jpg")

        .col-md-8.col-md-offset-0.col-sm-12.p-b-50.p-t-50.p-l-50.sm-p-l-0.text-center.full-height
          .container-xs-height.full-height
            .col-xs-height.col-middle.text-center
              h2.big-heading.divider.text-master
                | Inspirational Hero
          
              .text-master-dark
            
                p
                  | As much as Hafiz wants to be remembered as a humble person, Malaysians want an inspirational hero and will regard him as one in the Muslim world. After all, he speaks the right language and he builds bridges with people from all walks of life.
            
                p
                  | Hafiz is currently listed as 
                  a.text-master(href="http://themuslim500.com/", target="_blank")
                    b The Top 500 World’s Most Influential Muslim
                  |  for the year 2016.  
